
<app-auth-layout name="auth" title="Se connecter">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mdb-form-control class="mb-4" *ngIf="!auth.user">
      <input mdbInput type="email" class="form-control form-control-lg" formControlName="email" placeholder="name@example.com">
      <label mdbLabel class="form-label" for="email">Adresse email *</label>
    </mdb-form-control>
    <mdb-form-control class="mb-3">
      <input mdbInput type="password" class="form-control form-control-lg" formControlName="password" placeholder="Mot de passe">
      <label mdbLabel class="form-label" for="password">Mot de passe *</label>
    </mdb-form-control>

    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="form-check- mb-0">
        <!-- <input mdbCheckbox class="form-check-input me-2" type="checkbox" value="1" id="remember" formControlName="remember"/> -->
        <label class="form-check-label ms-0" for="remember" (click)="auth.logout()" *ngIf="auth.user">
          <!-- Se souvenir de moi -->
          Changer de compte ?
        </label>
      </div>
      <a routerLink="/auth/forgot-password" class="text-body">Mot de passe oublié ?</a>
    </div>

    <div class="text-center text-lg-start mt-2 pt-2">
      <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="form.invalid || isLoad">
        <span class="spinner-border me-1" style="width: 14px; height: 14px;" *ngIf="isLoad"></span>
        Se connecter
      </button>
      <!-- <p class="small fw-bold mt-3 pt-1 mb-0 text-center">
        Vous n'avez pas de compte ?
        <a routerLink="/auth/register" class="link-danger" title="Créer un compte">Créer un compte</a> ici.
      </p> -->
    </div>
  </form>
</app-auth-layout>
