.avatar {
  height: 7rem;
  width: 7rem;
  position: relative;
  display: inline-block !important;
}

.uploadremove {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 0;
  padding: 0;
  background: var(--mdb-danger);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.camera-edit {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 0;
  padding: 0;
  background: var(--mdb-light);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .mdi {
    font-size: 22px;
    line-height: 22px;
  }
}
