<h2 mat-dialog-title>
  Changer le mot de passe

  <button mat-dialog-close class="btn-close"></button>
</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography-">
  <form [formGroup]="form">
    <mdb-form-control class="mb-3">
      <input mdbInput type="password" class="form-control" id="current_password" formControlName="current_password" placeholder="Mot de passe actuel">
      <label mdbLabel class="form-label" for="current_password">Mot de passe actuel</label>
    </mdb-form-control>
    <mdb-form-control class="mb-3">
      <input mdbInput type="password" class="form-control" id="password" formControlName="password" placeholder="Nouveau mot de passe">
      <label mdbLabel class="form-label" for="password">Nouveau mot de passe</label>
    </mdb-form-control>
    <mdb-form-control class="mb-3">
      <input mdbInput type="password" class="form-control" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirmation">
      <label mdbLabel class="form-label" for="password_confirmation">Confirmation du mot de passe</label>
    </mdb-form-control>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Enregistrer</button>
  <button mat-stroked-button mat-dialog-close color="warn" cdkFocusInitial>Annuler</button>
</mat-dialog-actions>
