
<app-auth-layout name="auth" title="Réinitialiser votre mot de passe">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mdb-form-control class="mb-3">
      <input mdbInput type="email" readonly class="form-control form-control-lg" id="email" [value]="email">
      <label mdbLabel class="form-label" for="email">Adresse email</label>
    </mdb-form-control>
    <mdb-form-control class="mb-3">
      <input mdbInput type="password" class="form-control form-control-lg" id="password" formControlName="password" placeholder="Mot de passe">
      <label mdbLabel class="form-label" for="password">Mot de passe</label>
    </mdb-form-control>
    <mdb-form-control class="mb-3">
      <input mdbInput type="password" class="form-control form-control-lg" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirmation du mot de passe">
      <label mdbLabel class="form-label" for="password_confirmation">Confirmation du mot de passe</label>
    </mdb-form-control>

    <div class="text-center text-lg-start mt-2 pt-2">
      <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="form.invalid">Créer mot de passe</button>
      <p class="small fw-bold mt-3 pt-1 mb-0">
          Vous avez déjà un compte ?
          <a routerLink="/auth/login" class="link-danger">Se connecter</a>
      </p>
    </div>
  </form>
</app-auth-layout>
