<div class="footer py-4 bg-primary- border-top bg-light" [ngClass]="{'d-none': canHide}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="text-md-start text-center">
          Copyright ©
          <!-- 2022 -  -->
          {{ current_date | date:'YYY' }}. <b>{{ APP_NAME }}</b> Tout droits réservés. <br>
          Fait par <a href="https://optimacorps.com" target="_blank" class="fw-bold">Optima Corporation</a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="text-md-end text-center">
          <a href="https://facebook.com/optimacorps" target="_blank" class="me-3">
            <i class="mdi mdi-facebook" style="font-size: 20px;"></i>
          </a>
          <a href="https://twitter.com/optimacorps" target="_blank" class="me-3">
            <i class="mdi mdi-twitter" style="font-size: 20px;"></i>
          </a>
          <a href="https://google.com/optimacorps" target="_blank" class="me-3">
            <i class="mdi mdi-google" style="font-size: 20px;"></i>
          </a>
          <a href="https://linkedin.com/company/optimacorps" target="_blank" class="">
            <i class="mdi mdi-linkedin" style="font-size: 20px;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
