<h2 mat-dialog-title>
  {{ data?.id ? 'Modifier':'Ajouter' }} un produit

  <button mat-dialog-close class="btn-close"></button>
</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography-">
  <form [formGroup]="form">
    <div class="row gy-4 gx-3">
      <div class="col-12">
        <ng-select [placeholder]="'Produit'" (search)="filter($event)" appearance="outline" formControlName="article_id" (change)="changeArticle()">
          <ng-option *ngFor="let item of articles" [value]="item.id">
            {{ item.name }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="form-label">Unité de stockage</label>
          <select class="form-control" formControlName="unit_id" (change)="art=null">
            <option *ngFor="let item of units" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-12">
        <mdb-form-control>
          <input mdbInput type="number" class="form-control" id="qty" formControlName="qty" (keyup)="art=null" placeholder="Ex. 1">
          <label mdbLabel class="form-label" for="qty">
            Quantité
          </label>
        </mdb-form-control>
      </div>

      <div class="col-12" *ngIf="art">
        <div class="card card-body py-2 border border-danger">
          <span class="text-danger">Quantité non disponible</span>
          <div class="">
            <h6 class="m-0">{{ art.article.name }}</h6>
            <span>En stock: {{ art?.label || available }}</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="store()" [disabled]="invalid()">
    <span class="spinner-border me-1" style="width: 14px; height: 14px;" *ngIf="onLoad"></span>
    Ajouter
  </button>
  <button mat-stroked-button mat-dialog-close color="warn" cdkFocusInitial>Annuler</button>
</mat-dialog-actions>
