.card {
  width: 80px;
  height: 80px;
  margin: 2rem 0;

  .spinner-border {
    width: 2rem;
    height: 2rem;
  }
}

.error {
  min-height: 200px;
  padding: 2rem 0;

  .image-block {
    // width: 100%;
    padding: 0 2rem;
    // min-width: 600px;

    img {
      // min-width: auto;
      // max-width: 100%;
      // min-height: 100px;
      height: 250px;
    }
  }
}

@media (max-width: 766px) {
  .error {
    .image-block {
      width: 100%;
      padding: 0 10px;
    }
  }
}
