.form-group {
  position: relative;

  .form-label {
    // font-size: 16px;
    font-weight: 400;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 0;
    transition: 240ms;
    line-height: 29px;
    left: .75rem;
    padding-top: .33rem;
    bottom: .25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
  }

  &.focused .form-label {
    opacity: 1;
    transform: translateY(-1rem) translateY(.1rem) scale(0.8);
    color: #2196f3;
    background-color: #FFF;
    padding: 0 .125rem;
  }

  .form-control {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    -webkit-background-size: 13px 13px;
            background-size: 13px;
    background-repeat: no-repeat;
    background-position: right center;
  }
}
