.center_table {
  margin-left: auto;
  margin-right: auto;
}
thead {
  background: -webkit-linear-gradient(left, #0072ff, #8811c5);
  color: white;
}
td:first-child {
  background:-webkit-linear-gradient(left, #f9052a, #e121add6);
  color: white;
}
